.theme {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.light-theme {
  background-color: $light;
  color: $dark;
}

.dark-theme {
  background-color: $dark;
  color: $light;
}

.content {
  transition: color 1s ease, background-color 1s ease;
}
